* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: "";
  overflow-x: hidden;
  overflow-y: hidden;
}
html {
  overflow-x: hidden;
  overflow-y: hidden;
}
.image {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}
.text {
  position: absolute;
  font-size: 2em;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 8px 5px black;
  transform: perspective(1000px);
  font-weight: 800;
  width: 50vw;
  /*text-shadow: 5px 5px 4px grey;*/
  color: green;
  height: 60px;
  animation: glow 1s ease-in infinite;
  z-index: 5;
}

.word {
  position: relative;
  /*font-size:100%;*/
  z-index: 8;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  text-align: center;
  /* animation:slide 2s ease-in infinite;*/
}

.box {
  position: absolute;
  background-color: #ddfff7;
  top: 80%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /*position: relative;*/
  box-shadow: 10px 10px 42px 0 rgba(0, 0, 0, 0.75);
}

/*.box:after, .box:before{
	mix-blend-mode:multiply;
	filter:none;
	z-index: -1;
	content:'';
	width:calc(100% + (50px * 2));
	height:calc(100% + (50px * 2));
	position: absolute;
	display: block;
	animation: border 2s ease-in-out infinite;
	transform:translateX(-50px) translateY(-50px);
}
@keyframes border {
  0%, 100% {
    -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
            clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  50% {
    -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
            clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
}

.box:after{
	animation-delay: -1s;
	background-color: #93e1d8;
	clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
}
.box:before {
	background-color: #AA4465;
	  clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
}*/

/*.box:hover:after{
	animation-delay: -0.1s;
}
.box:hover:before, .box:hover:after {

          animation-duration: 0.2s;
}*/
@media screen and (max-width: 700px) {

  .text {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 400px) {
  
  .text {
    font-size: 1.3em;
  }
}
@keyframes slide {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    left: 0%;
  }
  75% {
    opacity: 0;
    left: 100%;
  }
  100% {
    opacity: 1;
  }
}
